@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    font-family: "Playfair Display", serif;
}
body{
    background: url(../media/portada.jpg) no-repeat; 
    background-color: #EBE5DC;
    color: #A6493F;
}

.bodyProductos{
    background: none;
    background-color: #EBE5DC;
}

h2{
    font-size: 3rem;
    margin-left: 5rem;
}
h4{
    font-size: 1.5rem;
    margin-top: -0.5rem;
}

a{
    text-decoration: none;
    color: #EBE5DC;
}

/* Sección del navegador */

nav{
    width: 100%;
    height: 3rem;
    background-color: #A6493F;
    position: sticky;
    top: 0;
}
.nav-link{
    font-size: 1.5rem;
    margin: 1rem;
}

.link{
   padding: 1rem;
   font-size: 1.5rem;
}

#btnModalCarrito{
    width: 100px;
    height: 40px;
    margin-top: 1.3rem;
}

.d-flex{
    margin-left: 30rem;
}
.btn-outline-success{
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
    color: #EBE5DC;
    background-color: #A6493F;
    border-radius: 1rem ;
    text-align: center;
}

/*Sección para pedir el nombre*/
input{
    height: 2rem;
    width: 20rem;
    margin-top: 1.7rem;
    margin-left: 1rem;
}

.botonInput{
    height: 2rem;
    width: 7rem;
    font-size: 1rem;
}

.advertencia{
   color: rgb(185, 16, 16);
    font-weight: 700;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0;
}

/* Sección de la portada */
.portada{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "titulo titulo titulo titulo"
    "texto texto texto texto"
    "descripcion descripcion descripcion descripcion";
}

#titulo{
    font-size: 5rem;
    margin-top: 10rem;
    grid-area: titulo;
    margin-left: 22%;
   
}

.subtitulo{
    font-size: 3rem;
    margin-left: 30%;
    grid-area: texto;

}

.texto{
   height: 300px;
   width: 30%;
    grid-area: descripcion;
    grid-column-start: 4;
    margin-left: 63%;
    margin-top: 5rem;
    text-align: justify;
    font-size: 1.2rem;
}

/* Sección de las cards */
#btnOrder{
    margin-left: 2rem;
    width: 100px;
}
.tituloProductos{
    margin-top: 3rem;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 3rem;
 
}
 .card{
  border: 1px solid #A6493F;
  border-radius: 5px;
  height: 26rem;
  margin: 1rem;
  background-color: #F6F3EF;
} 

.imagen-card{
    width: 15rem;
    height: 20rem;
}

.texto-card{
    margin-top: -2rem;
    text-align:start;
    font-size: 1.2rem;
    font-weight: 600;
}

.bx{
    margin-left: 10rem;
    color: #E2D6C3;

}

button{
    font-family: "Playfair Display";
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #EBE5DC;
    background-color: #A6493F;
    height: 3rem;
    width: 10rem;
    border-radius: 1rem ;
    border:#F6F3EF;
    text-align: center;
}

.boton{
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #EBE5DC;
    background-color: #A6493F;
    border-radius: 1rem ;
    margin-left: 50%;
    text-align: center;
}

.btnAdd{
    background-color: #EBE5DC;
    color: #A6493F;
    margin-top: 0.7rem;
    height: 2rem;
    width: 5rem;
    margin-left: 8rem;
}